extends layout

block content
  #app

  link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")

  //- webpack dev server
  //- script(src="http://localhost:4671/webpack-dev-server.js")

  //- dev
  //- script(src="http://localhost:4671/js/common.js")
  //- script(src="http://localhost:4671/js/app.js")

  //- prod
  script(src="/js/common.js")
  script(src="/js/app.js")
