@import nib
// @import url("http://fonts.googleapis.com/css?family=Roboto:400,300,500");
// @import url("https://raw.githubusercontent.com/tastejs/todomvc-common/master/base.css");

body
  // padding: 50px
  // font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  color red

  #app
    width 1024px
    margin 0 auto
